Source: ubuntuclub-repository
Section: unknown
Priority: extra
Maintainer: Anuchit Chalothorn <anoochit@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: ubuntuclub-repository
Architecture: any
Description: custom repository from ubuntu club
 custom ubuntu repository from ubuntu club - Ubuntu Community in Thailand
